<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/public/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/skin/green/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>H-ui.admin v3.1</title>
</head>
<body>
<!-- header -->
{include file="common/header" /}
<!-- 导航 -->
{include file="common/left" /}
<!-- right -->

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
{block name="right"}
<div class="page-container">
    <p class="f-20 text-success">欢迎使用奥利给.admin <span class="f-14">v3.1</span>后台模版！</p>
    <p>登录次数：18 </p>
    <p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p>
    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th colspan="7" scope="col">信息统计</th>
            </tr>
            <tr class="text-c">
                <th>统计</th>
                <th>资讯库</th>
                <th>图片库</th>
                <th>产品库</th>
                <th>用户</th>
                <th>管理员</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-c">
                <td>总数</td>
                <td>92</td>
                <td>9</td>
                <td>0</td>
                <td>8</td>
                <td>20</td>
            </tr>
            <tr class="text-c">
                <td>今日</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="text-c">
                <td>昨日</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="text-c">
                <td>本周</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="text-c">
                <td>本月</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>
{/block}
</section>
<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
    </ul>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/public/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/public/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
 <!--/_footer 作为公共模版分离出去-->
 <script type="text/javascript">
        $(function(){
            $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        //删除按钮
        $('.del').click(function(){
            var url = $(this).attr('link');
            layer.confirm('你确定要此操作吗?', {
                icon: 5,
                btn: ['确定','取消'] //按钮
            }, function(){
                $.get(url,function(data){
                    if (data.code == 1) {
                        layer.alert(data.msg, {icon: 6},function (index) {
                            layer.close(index);
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg);
                    }
                });
            });
        });
        //退出
        $('.logout').click(function(){
            var url = $(this).attr('link');
            layer.confirm('你确定要此操作吗?', {
                icon: 5,
                btn: ['确定','取消'] //按钮
            }, function(){
                $.get(url,function(data){
                    if (data.code == 1) {
                        layer.alert(data.msg, {icon: 6},function (index) {
                            layer.close(index);
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg);
                    }
                });
            });
        });
        //表单提交
        $("form").submit(function(e){
                    var res = $(this).serialize();
                    // var url = "{:url('Public/login')}";
                    var url = $(this).attr('action');
                    $.ajax({  
                        url:  url,
                        data: res,  
                        type: 'post',  
                        success:function(data){  
                            if (data.code == 1) {
                                layer.alert(data.msg,{icon:6},function (index) {
                                    layer.close(index);
                                    window.location.href = "{:url('index')}";
                                }); 
                            } else{
                                layer.alert(data.msg,{icon:5},function (index) {
                                    layer.close(index);
                                }); 
                            }
                        }
                    });  
                    return false; // 阻止表单跳转
                });
    });     
</script>
</body>
</html>
