
{extend name="layout"}{/extend}
{block name="right"}
<link rel="stylesheet" href="/public/admin/lib/layui/css/layui.css"  media="all">
<nav class="breadcrumb">
	<a href="{:url('Index/index')}"><i class="Hui-iconfont">&#xe67f;</i>
	首页</a>
	<span class="c-gray en">&gt;</span>
	分类管理
	<span class="c-gray en">&gt;</span>
    分类列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;margin-right:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<article class="page-container">
	<form class="form form-horizontal" action="{:url('save')}">
    <input type="hidden" name="id" value="{$info.id}" />
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">分类：</label>
        <div class="formControls col-xs-8 col-sm-4">
          <span class="select-box" style="width:150px;">
            <select class="select" name="pid" size="1">
              <option value="0">请选择</option>
              {volist name='$list' id='vo'}
                <option value="{$vo.id}">{$vo.title}</option>
              {/volist}
            </select>
          </span>
        </div>
    </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" name="title" value="{$info.title}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" value="{$info.sort}" name="sort">
		  </div>
    </div>
    <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" name="price" value="{$info.price}">
			</div>
    </div>
    <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red" >*</span>库存：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" name="sku" value="{$info.sku}">
			</div>
    </div>
    <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>浏览次数：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="text" class="input-text" name="views" value="{$info.views}">
			</div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>状态</label>
      <div class="formControls col-xs-8 col-sm-9 skin-minimal">
          <div class="radio-box">
              <input name="status" value="1" type="radio" id="qiyong" checked>
              <label for="sex-1">启用</label>
          </div>
          <div class="radio-box">
              <input type="radio" value="0" id="jinyong" name="status">
              <label for="sex-2">禁用</label>
          </div>
      </div>
    </div>
    <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>上传图片：</label>
            <div class="layui-upload col-sm-4">
                <button type="button" class="layui-btn" id="upload1">上传图片</button>
                <div class="layui-upload-list">
                    <img src="{:url($info.img)}" style="width:200px;" class="layui-upload-img" id="demo1">
                    <p id="demoText"></p>
                </div>
                <input type="hidden" name="img" id="img" />
            </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2">简介：</label>
      <div class="formControls col-xs-8 col-sm-4">
        <textarea cols="" rows="" class="textarea" name="intru" >{$info.intru}</textarea>
      </div>
    </div>
    <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品内容：</label>
			<div class="formControls col-xs-8 col-sm-6"> 
        <script name="content" id="editor" type="text/plain" style="width:100%;height:400px;">
          {$info.content}
        </script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit">保存</button>
			</div>
		</div>
	</form>
</article>
<script type="text/javascript" src="/public/admin/lib/layui/layui.js"></script>
<script type="text/javascript" src="/public/admin/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="/public/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="/public/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    var ue = UE.getEditor('editor');
    layui.use('upload', function(){
      var $ = layui.jquery
      ,upload = layui.upload;
      
      //普通图片上传
      var uploadInst = upload.render({
        elem: '#upload1'
        ,url: "{:url('Upload/upload')}" //上传接口
        ,before: function(obj){
          //预读本地文件示例，不支持ie8
          obj.preview(function(index, file, result){
            $('#demo1').attr('src', result); //图片链接（base64）
          });
        }
        ,done: function(res){
        //上传成功
          if(res.code == 1)
          {
            $('#img').val(res.url);
            return layer.msg(res.msg);
          }
          //如果上传失败
          else
          {
            return layer.msg(res.msg);
          }
        }
        ,error: function(){
          //演示失败状态，并实现重传
          var demoText = $('#demoText');
          demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
          demoText.find('.demo-reload').on('click', function(){
            uploadInst.upload();
          });
        }
      });
    });
</script>
{/block}